.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

// body{
//   font-family: $fontFamily;
// }
html{

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body
{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}