<section class="bottom-page">
  <div class="container-small">
      <a href="#" class="bottom-page__title">- get in touch with us -</a>
      <p class="bottom-page__describe">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.<span class="execute-text">Curabitur blandit tempus porttitor vollisky inceptos mollisestor</span></p>
      <div class="bottom-page__img-wrapp">
        <a href="#" class="bottom-page__img-link"><img src="./img/bottom-page/RSS.png" alt="rss"></a>
        <a href="#" class="bottom-page__img-link"><img src="./img/bottom-page/Facebook.png" alt="facebook"></a>
        <a href="#" class="bottom-page__img-link"><img src="./img/bottom-page/Twitter.png" alt="twitter"></a>
        <a href="#" class="bottom-page__img-link"><img src="./img/bottom-page/Pinterest.png" alt="pinterest"></a>
        <a href="#" class="bottom-page__img-link"><img src="./img/bottom-page/Dribbble.png" alt="dribble"></a>
      </div>

      <p class="bottom-page__address"> Moonshine St. 14-05 Light City
       <span class="slash">/</span>   
        <span>
        <a  class="bottom-page__tel" href="tel:+001234567890">T. +00 (123) 456 78 90</a>
      </span>
      <span>
        <a class="bottom-page__email" href="mailto:first.last@email.com"><span class="slash">/</span>first.last@email.com</a>
      </span>
      </p>
   </div>
</section> 