<section class="header container ">
    <div class="burger-menu">
      <span></span>
    </div>
    <nav class="header-menu">
      <ul class="navbar">

        <li class="navbar__items "><a href="#" class="navbar__links active">Home</a></li>
        <li class="navbar__items"><a href="#" class="navbar__links">About Us</a></li>
        <li class="navbar__items"><a href="#" class="navbar__links">Our Journal</a></li>
        <li class="navbar__items"><a href="#" class="navbar__links">Projects</a></li>
        <li class="navbar__items"><a href="#" class="navbar__links">news</a></li>
        <li class="navbar__items"><a href="#" class="navbar__links">features</a></li>
        <li class="navbar__items"><a href="#" class="navbar__links">contact</a></li>
       
      </ul>
    </nav>
        
      <div class="img-wrapp">
        <img class="header-img" src="./img/header/header-img.png" alt="railway">
      </div>
    </section>  

    
      
   
    
       
       
       
       
       
       