<section class="insta-shots">
   <div class="container">
    <div class="insta-shots__header">
      <a href="#" class="insta-shots__header__title">- Latest Instagram Shots</a>
      <a href="#" class="insta-shots__header__title_small">go to our instagram page -</a>
    </div>
      <div class="insta-shots__flex-wrapp">
          <div class="insta-shots__items main-img"><img src="./img/insta-shots/bycicle.png" alt="bycicle"></div>
          <div class="insta-shots__items hidden"><img src="./img/insta-shots/handle.png" alt="handle"></div>
          <div class="insta-shots__items hidden"><img src="./img/insta-shots/old_car.png" alt="car"></div>
          <div class="insta-shots__items first-img-hidden"><img src="./img/insta-shots/wires.png" alt="wires"></div>
            
        
      </div>
     </div>
  </section>
        
        
        
        
        
        
        
        
      
      
      
      
      
      
      
      