<section class="recent-post">
  <div class="container">
   <h1 class="recent-post__title">- our Recent posts</h1>
     <div class="recent-post__flex-wrapper">
      <div class="flex-wrapper__item">
       <div class="flex-wrapper__img-wrapp">
         <img src="./img/recent-posts/tea.png" alt="tea">
        </div>
         <div class="flex-wrapper__text-wrapp">
          <h1 class="text-wrapp__title">Aenean Adipiscing Etiam Vestibulum</h1>
           <p class="flex-wrapper__comments">Photography, Journal   /   9 Comments</p>
          <h2 class="flex-wrapper__subtitle">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</h2>
         </div>
        
        </div>
        <div class="flex-wrapper__item">
          <div class="flex-wrapper__img-wrapp">
            <img src="./img/recent-posts/flores.png" alt="flores">
           </div>
            <div class="flex-wrapper__text-wrapp">
             <h1 class="text-wrapp__title">Aenean Adipiscing Etiam Vestibulum</h1>
              <p class="flex-wrapper__comments">Photography, Journal   /   9 Comments</p>
             <h2 class="flex-wrapper__subtitle">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</h2>
            </div>
           
           </div>
           <div class="flex-wrapper__item">
            <div class="flex-wrapper__img-wrapp">
              <img src="./img/recent-posts/rain.png" alt="rain">
             </div>
              <div class="flex-wrapper__text-wrapp">
               <h1 class="text-wrapp__title">Aenean Adipiscing Etiam Vestibulum</h1>
                <p class="flex-wrapper__comments">Photography, Journal   /   9 Comments</p>
               <h2 class="flex-wrapper__subtitle">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</h2>
              </div>
             
             </div>
             <div class="flex-wrapper__item">
              <div class="flex-wrapper__img-wrapp">
                <img src="./img/recent-posts/cafe.png" alt="cafe">
               </div>
                <div class="flex-wrapper__text-wrapp">
                 <h1 class="text-wrapp__title">Aenean Adipiscing Etiam Vestibulum</h1>
                  <p class="flex-wrapper__comments">Photography, Journal   /   9 Comments</p>
                 <h2 class="flex-wrapper__subtitle">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</h2>
                </div>
               
               </div>
       </div>
     </div>
  </section>
        
        
        
        
        